*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#eef2ff,#dbeafe,#f8fafc);
    font-family:Arial,sans-serif;
}

header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#00d4ff;
}

.container{

    width:70%;

    margin:40px auto;

    display:flex;

    gap:40px;

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 15px 35px rgba(0,0,0,.2);
	transition:0.4s;
}
.container:hover{
    transform:translateY(-5px);
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
}


.image-section{
	flex:1;
	
    width:45%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    text-align:center;
}

.slider-image{
    width:420px;
    height:320px;
    object-fit:contain;
    border-radius:10px;
    border:1px solid #ddd;
    background:white;
    padding:15px;
    transition:.4s;
}
.slider-image:hover{
    transform:scale(1.08);
}

.slider-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#007bff;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}

.slider-btn:hover{
    background:#0056b3;
    transform:scale(1.1);
}


.details{

    flex:1;

}

.details h1{

    color:#1f2937;

}

.details h2{

    color:#0d6efd;

    margin:15px 0;

}

.stock{

    color:green;

    font-weight:bold;

}

table{

    width:70%;

    margin-top:20px auto;

    border-collapse:collapse;

}

table th,
table td{

    border:1px solid #ddd;

    padding:12px;

}

table th{

    background:#f0f0f0;

    width:100px;

}

.details p{

    margin-top:20px;

    line-height:1.8;

    color:#555;

}

.buttons{

    margin-top:30px;

}

.buy{

    background:#0d6efd;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:6px;

    cursor:pointer;

}

.cart{

    background:#198754;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:6px;

    cursor:pointer;

    margin-left:15px;

}

.back{

    text-decoration:none;

    background:#6c757d;

    color:white;

    padding:12px 25px;

    border-radius:6px;

    margin-left:15px;

}

.buy:hover{

    background:#084298;

}

.cart:hover{

    background:#146c43;

}

.back:hover{

    background:#495057;

}

footer{

    background:#1f2937;

    color:white;

    text-align:center;

    padding:18px;

    margin-top:40px;

}