*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fa;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1f2937;
    color:white;
    padding:18px 70px;
}

.logo h2{
    font-size:30px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
    transition:.3s;
}

nav a:hover{
    color:#00d4ff;
}

.title{
    text-align:center;
    padding:60px 20px;
    background:#eaf4ff;
}

.title h1{
    font-size:42px;
    color:#1f2937;
    margin-bottom:10px;
}

.title p{
    font-size:20px;
    color:#555;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    padding:60px;
}

.card{
    background:white;
    border-radius:12px;
    box-shadow:0 5px 12px rgba(0,0,0,.15);
    padding:20px;
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:220px;
    height:180px;
    object-fit:contain;
}

.card h2{
    margin:15px 0;
    color:#1f2937;
}

.card p{
    color:#666;
    margin:6px 0;
}

.card h3{
    color:#0d6efd;
    margin:15px 0;
    font-size:24px;
}

.card button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
    transition:.3s;
}

.card button:hover{
    background:#084298;
}

footer{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}
.buttons{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.buy-btn{
    background:#007bff;
    color:white;
    text-decoration:none;
    padding:10px 18px;
    border-radius:5px;
}

.more-btn{
    background:#28a745;
    color:white;
    text-decoration:none;
    padding:10px 18px;
    border-radius:5px;
}

.buy-btn:hover{
    background:#0056b3;
}

.more-btn:hover{
    background:#1f8a38;
}